<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Agent</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/flag-icon.min.css">
  <link rel="stylesheet" href="/assets/css/cs-skin-elastic.css">
  <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
  <link rel="stylesheet" href="/assets/scss/style.css">
  <link href="/css/main.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>
<body>
<!-- Left Panel -->

<aside th:replace="shared/navbar"></aside>

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

  <!-- Header-->
  <header th:replace="shared/header"></header>
  <!-- Header-->

  <div class="breadcrumbs">
    <div class="col-sm-12">
      <div class="page-header float-left">
        <div class="page-title">
          <h1 id="chatTitle"></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="content mt-3">
    <input type="hidden" readonly value="A" id="sideFlag" name="sideFlag">
    <div class="row" style="padding-right: 15px; padding-left: 15px;">
      <div id="messageHistory" class="col-sm-12 border border-secondary form-group chat" style="padding: 20px;"></div>
    </div>
    <form id="messageForm">
      <div class="row">
        <div class="col-sm-11 form-group">
          <input type="text" class="form-control" onkeypress="sendTheMessage(event)" autocomplete="off" id="idmessage" name="idmessage">
        </div>
        <div class="col-sm-1 form-group">
          <button onclick="sendTheMessage(13)" style="border-radius: 5px;" class="form-control btn btn-primary"><i class="fa fa-send"></i></button>
        </div>
      </div>
    </form>
  </div> <!-- .content -->
</div><!-- /#right-panel -->

<input type="hidden" id="userID" name="userID" readonly th:value="${user.getUserID()}">
<input type="hidden" id="userName" name="userName" readonly th:value="${user.getUserFirstname() + ' ' + user.getUserLastname()}">

<!-- Right Panel -->
</body>
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script src="/js/app.js"></script>

<script>
  var userID = document.getElementById('userID');
  var userName = document.getElementById('userName');

  stompClient.connect({}, function(frame)
  {
    console.log('Connected: ' + frame);
    stompClient.subscribe('/agent/' + userID.value + '/message', function(theMessage)
    {
      showMessageLeft(theMessage);
    });
  });

  var statusLabel = document.getElementById('statusLabel');
  statusLabel.innerHTML = 'BUSY';

  if(statusLabel.innerHTML === 'AVAILABLE')
  {
    document.getElementById('setAvailable').disabled = true;
    document.getElementById('setBusy').disabled = false;
    statusLabel.className = 'text-success';
  }
  else
  {
    document.getElementById('setBusy').disabled = true;
    document.getElementById('setAvailable').disabled = false;
    statusLabel.className = 'text-danger';
  }

  var chatTitle = 'Chat - ID: ' + sessionStorage.getItem('conversationID');
  document.getElementById('chatTitle').innerHTML = chatTitle;

  window.addEventListener("beforeunload", function(event)
  {
    stompClient.send("/app/message", {}, JSON.stringify({'messageContent': 'CONV_CLOSED',
      'theID': userID.value,
      'theName': userName.value,
      'theConversationID': sessionStorage.getItem('conversationID')
    }));

    sessionStorage.removeItem('conversationID');

    event.returnValue = "closing event";
  });
</script>

<script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="/assets/js/lib/chart-js/Chart.bundle.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>

<script src="/assets/js/dashboard.js"></script>
<script src="/assets/js/widgets.js"></script>
</html>
